* {
	font-family: Helvetica, Arial;
}

.numeric {
	text-align: right;
}

.center {
	text-align: center;
}

.odd {
	background-color: #dad4d3;
}

.even {
	background-color: #a0a0a0;
}

li.ingredients {
	display: inline;
}

pre.comments {
	margin: 10px;
	
}

td.comments {
	padding-bottom: 20px;
}

table * {
	padding: 2px;
}

thead {
	font-weight: bold;
}