* { font-family: Helvetica, Arial; color: black; }

img { border: none; }

.hide { display: none; }

/* User message display */
.error { background: red; color: white; font-weight: bold; padding: 0 5px 0 5px; }
.notice { background: #c2c2c2; padding: 0 5px 0 5px; }

/* Generic classes */
.numeric { text-align: right; }
.center { text-align: center; }
.odd { background-color: #dad4d3; }
.even { background-color: #a0a0a0; }
/* END Generic classes */

pre.comments {
	margin: 10px;
	
}

td.comments {
	padding-bottom: 20px;
}

table {
	padding: 2px;
	border-collapse: collapse;
}

table, thead, td {
	border: 1px solid black;
	padding: 3px;
}

h3 {
	font-weight: bold;
	margin 0;
	padding: 0;
}

thead {
	font-weight: bold;
}

.ingredient-item {
	margin: 0;
	padding: 0;
}

.ingredient-item ul {
	margin: 0;
	padding: 0;
}

.ingredient-item ul li {
	margin: 0;
	padding: 0;
	display: inline;
}

#recipe-title {
}

#recipe-title h3 {
	display: inline;
}

.recipe-summary ul {
	margin-left: 0;
	padding-left: 0;
	display: inline;
	border: none;
	font-size: 12px;
}

.recipe-summary ul li {
	margin-left: 0;
	padding-left: 2px;
	border: none;
	list-style: none;
	display: inline;
}

/* Form CSS */
.zend_form {
}

/* Sortable */
.sortable { list-style-type: none; margin: 0; padding: 0; width: 95%; }
.sortable li { margin: 0 3px 3px 3px; padding: 0.4em; padding-left: 1.5em; font-size: 1 em; }
.sortable li span { position: absolute; margin-left: -1.3em; }