* {
	font-family: Helvetica, Arial;
	color: black;
}

img {
	border: none;
}

.hide {
	display: none;
}

.error {
	background: red;
	color: white;
	font-weight: bold;
	padding: 0 5px 0 5px;
}

.notice {
	background: #c2c2c2;
	padding: 0 5px 0 5px;
}

.numeric {
	text-align: right;
}

.center {
	text-align: center;
}

.odd {
	background-color: #dad4d3;
}

.even {
	background-color: #a0a0a0;
}

li.ingredients {
	display: inline;
}

pre.comments {
	margin: 10px;
	
}

td.comments {
	padding-bottom: 20px;
}

table {
	padding: 2px;
	border-collapse: collapse;
}

table, thead, td {
	border: 1px solid black;
	padding: 3px;
}

thead {
	font-weight: bold;
}