<?xml version="1.0"?>
<data>
	<production>
		<hosts></hosts>
		<database>
			<type>pdo_mysql</type>
			<host>localhost</host>
			<username>root</username>
			<password></password>
			<name></name>
			<profiler>false</profiler>
		</database>
		<authentication>
			<tableName>users</tableName>
			<identityColumn>email</identityColumn>
			<credentialColumn>password</credentialColumn>
			<credentialTreatment>PASSWORD(?)</credentialTreatment>
		</authentication>
		<compressed_js>false</compressed_js>
		<upload_path>uploads</upload_path>
		<session>
			<remember_me_seconds>2592000</remember_me_seconds>
		</session>
		<logs>
			<application></application>
		</logs>
		<locale>en_UK</locale>			
	</production>
	
	<staging extends="production">
		<database>
			<host>localhost</host>
			<username>root</username>
			<password></password>
			<name>motorsfinder</name>
		</database>
	</staging>

	<qa extends="production">
		<database>
			<host>localhost</host>
			<username>root</username>
			<password></password>
			<name></name>
		</database>
		<logs>
			 <application></application>
		</logs>
	</qa>

	<development extends="staging">
		<database>
			<host>localhost</host>
			<username>root</username>
			<password></password>
			<name></name>
			<profiler>true</profiler>
		</database>
		<logs>
			<application></application>
		</logs>
	</development>

	<local extends="development">
		<database>
			<host>localhost</host>
			<username>root</username>
			<password></password>
			<name>recipe_development</name>
			<profiler>true</profiler>
		</database>
		<upload_path>uploads</upload_path>
		<logs>
			<!--
			
			<application>/home/clock/cookingwithzend/logs/application_log</application>
			-->
			<application>/Users/cathar/code/cookingwithzend/logs/application_log</application>
		</logs>
	</local>	
</data>
