<?xml version="1.0"?>
<data>
	<production>
		<hosts>simplycook.org</hosts>
		<!-- Switch this to false if you want to work away from the internet -->
		<online>true</online>
		<database>
			<adapter>pdo_mysql</adapter>
			<params>
				<host>localhost</host>
				<username>root</username>
				<password></password>
				<dbname>clock_simplycook</dbname>
			</params>
		</database>
		<sessions>
			<name>sessions</name>
			<primary>id</primary>
			<modifiedColumn>modified</modifiedColumn>
			<dataColumn>data</dataColumn>
			<lifetimeColumn>lifetime</lifetimeColumn>
			<lifetime>3600</lifetime>
		</sessions>
		<authentication>
			<tableName>users</tableName>
			<identityColumn>email</identityColumn>
			<credentialColumn>password</credentialColumn>
			<credentialTreatment>MD5(?)</credentialTreatment>
		</authentication>
		<compressed_js>false</compressed_js>
		<upload_path>uploads</upload_path>
		<session>
			<remember_me_seconds>2592000</remember_me_seconds>
		</session>
		<log>
			<file>/var/www/vhosts/simplycook.org/httpdocs/logs/application_log</file>
		</log>
		<locale>en_UK</locale>
	</production>
	<staging extends="production">
		<database>
			<adapter>pdo_mysql</adapter>
			<params>
				<host>localhost</host>
				<username>root</username>
				<password></password>
				<dbname>simplycook</dbname>
			</params>
		</database>
	</staging>
	<development extends="staging">
		<database>
			<adapter>pdo_mysql</adapter>
			<params>
				<host>localhost</host>
				<username>root</username>
				<password></password>
				<dbname>recipes</dbname>
			</params>
		</database>
		<log>
			<file>/Users/chris/code/cookingwithzend/logs/application_log</file>
		</log>
	</development>
</data>
